@import './veriables';

html {
  font-size: 10px;
}
body {
  color: $dark;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
}
.header {
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 15px;
  margin: 0 auto;
}
.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;

  &__item {
    margin-left: 4.4rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 2.7rem;
    }
  }

  &__link {
    color: $dark;
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $purple;
    color: $white;
    padding: 1.6rem 2.5rem;
    border-radius: 0.6rem;
  }
}

.baner {
  text-align: center;
  background-color: $dark;
  color: $white;
  padding-top: 62px;
  position: relative;
}
.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}
.banner {
  &__title {
    font-size: 5.5rem;
    max-width: 570px;
    margin: 0 auto 3.1rem;
  }

  // &__text {
  // }
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  &__btn {
    border: 1px solid $white;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    padding: 1.7rem 3.7rem;
    color: $white;
    margin: 0.8rem;
    display: inline-block;
  }

  &__btn-main {
    font-size: 1.5rem;
    background-color: $purple;
    border-color: $purple;
    padding: 1.6rem 3.7rem;
  }
  &__img {
    position: absolute;
    // bottom: 200px;
    top: 100px;
    right: 0;
    left: 0;
  }
}
.section {
  padding-top: 150px;
  &__title {
    font-size: 4.8rem;
    font-weight: 700;
    margin-top: 4rem;
    text-align: center;
    min-width: 750px;
    margin: 0 auto;
  }
}
.tarif {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &-item {
    flex: 0 0 32%;
    &-1 {
      .tarif-footer {
        background-color: rgba(16, 10, 48, 0.03);
      }
      .tarif-list__item {
        ::before {
          background-image: url(../img/Vector1.svg);
        }
      }
    }
    &-2 {
      .tarif-footer {
        background-color: rgba(25, 199, 135, 0.05);
      }
      .tarif-list__item {
        ::before {
          background-image: url(../img/Vector2.svg);
        }
      }
    }
    &-3 {
      .tarif-footer {
        background-color: rgba(252, 185, 52, 0.05);
      }
      .tarif-list__item {
        ::before {
          background-image: url(../img/Vector3.svg);
        }
      }
    }
  }
  &-footer {
    padding: 2.4rem 3rem;
    border-radius: 0 0 0.8rem 0.8rem;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    &__item {
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      padding-left: 3rem;
      margin-bottom: 1.4rem;
      font-size: 1.4rem;
      ::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: calc(50%-1rem);
        left: 0;
      }
    }
  }
}
.tarif-header {
  background-repeat: no-repeat;
  align-items: flex-end;
}
.tarif-header-one {
  background-image: url(../img/Frame1.png);
  width: 395px;
  height: 250px;
  align-items: flex-end;
}

.tarif-header-three {
  background-image: url(../img/Frame2.png);
  width: 395px;
  height: 250px;
  align-items: flex-end;
}
.tarif-header-twoo {
  background-image: url(../img/Frame3.png);
  width: 395px;
  height: 250px;
  align-content: flex-end;
}

.tarif {
  &__info {
    padding-top: 158px;
    padding-left: 28px;
  }
}

.tarif-info {
  &__title {
    font-size: 24px;

    color: $white;
    margin-top: 12px;
  }
}
.baner__img {
  bottom: -20px;
}

.footer {
  display: flex;
  background-color: $bc;

  padding: 56px 196px 58px 104px;
  align-items: baseline;
  justify-content: space-between;
}

.time {
  &__img {
    margin-top: 2rem;
  }

  &__heading {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.action {
  padding: 0px;
}
.action-list {
  font-size: 15px;
  list-style: none;
  margin-bottom: 6px;
}
.social {
  justify-content: flex-start;
  display: flex;
  list-style: none;
  padding-left: 0px;
  &__list {
    list-style: none;
  }

  &__list:nth-child(2) {
    margin: 0px 12px 0px 12px;
  }

  &__link {
    list-style: none;
  }
}
.pakko__img {
  margin-top: 5px;
}
