html {
  font-size: 10px;
}

body {
  color: #100A30;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 15px;
  margin: 0 auto;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;
}
.nav__item {
  margin-left: 4.4rem;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__item:last-child {
  margin-left: 2.7rem;
}
.nav__link {
  color: #100A30;
}
.nav__btn {
  font-size: 1.4rem;
  background-color: #624DE3;
  color: #FFFFFF;
  padding: 1.6rem 2.5rem;
  border-radius: 0.6rem;
}

.baner {
  text-align: center;
  background-color: #100A30;
  color: #FFFFFF;
  padding-top: 62px;
  position: relative;
  padding-bottom: 757px;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner__title {
  font-size: 5.5rem;
  max-width: 570px;
  margin: 0 auto 3.1rem;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.btn-group__btn {
  border: 1px solid #FFFFFF;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  padding: 1.7rem 3.7rem;
  color: #FFFFFF;
  margin: 0.8rem;
  display: inline-block;
}
.btn-group__btn-main {
  font-size: 1.5rem;
  background-color: #624DE3;
  border-color: #624DE3;
  padding: 1.6rem 3.7rem;
}
.btn-group__img {
  position: absolute;
  bottom: -200px;
  right: 0;
  left: 0;
}

.section {
  padding-top: 150px;
}
.section__title {
  font-size: 4.8rem;
  font-weight: 700;
  margin-top: 4rem;
  text-align: center;
  min-width: 750px;
  margin: 0 auto;
}

.tarif {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tarif-item {
  flex: 0 0 32%;
}
.tarif-item-1 .tarif-footer {
  background-color: rgba(16, 10, 48, 0.03);
}
.tarif-item-1 .tarif-list__item ::before {
  background-image: url(../img/Vector1.svg);
}
.tarif-item-2 .tarif-footer {
  background-color: rgba(25, 199, 135, 0.05);
}
.tarif-item-2 .tarif-list__item ::before {
  background-image: url(../img/Vector2.svg);
}
.tarif-item-3 .tarif-footer {
  background-color: rgba(252, 185, 52, 0.05);
}
.tarif-item-3 .tarif-list__item ::before {
  background-image: url(../img/Vector3.svg);
}
.tarif-footer {
  padding: 2.4rem 3rem;
  border-radius: 0 0 0.8rem 0.8rem;
}
.tarif-list {
  list-style: none;
  padding-left: 0;
}
.tarif-list__item {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
}
.tarif-list__item ::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50%-1rem);
  left: 0;
}

.tarif-header {
  background-repeat: no-repeat;
  align-items: flex-end;
}

.tarif-header-one {
  background-image: url(../img/Frame1.png);
  width: 395px;
  height: 250px;
  align-items: flex-end;
}

.tarif-header-three {
  background-image: url(../img/Frame2.png);
  width: 395px;
  height: 250px;
  align-items: flex-end;
}

.tarif-header-twoo {
  background-image: url(../img/Frame3.png);
  width: 395px;
  height: 250px;
  align-content: flex-end;
}

.tarif__info {
  padding-top: 158px;
  padding-left: 28px;
}

.tarif-info__title {
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 12px;
}/*# sourceMappingURL=styles.css.map */