@import './veriables';

html {
  font-size: 10px;
}
body {
  color: $dark;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
}
.header {
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 15px;
  margin: 0 auto;
}
.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin: 0;

  &__item {
    margin-left: 4.4rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 2.7rem;
    }
  }

  &__link {
    color: $dark;
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $purple;
    color: $white;
    padding: 1.6rem 2.5rem;
    border-radius: 0.6rem;
  }
}

.baner {
  text-align: center;
  background-color: $dark;
  color: $white;
  padding-top: 62px;
}
.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 15px;
}
.banner {
  &__title {
    font-size: 5.5rem;
    max-width: 570px;
    margin: 0 auto 3.1rem;
    position: relative;
  }

  &__text {
  }
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  &__btn {
    border: 1px solid $white;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    padding: 1.7rem 3.7rem;
    color: $white;
    margin: 0.8rem;
    display: inline-block;
  }

  &__btn-main {
    font-size: 1.5rem;
    background-color: $purple;
    border-color: $purple;
    padding: 1.6rem 3.7rem;
  }
  &__img {
     position: absolute;
  }
}
